p, h3 {
    text-align: center;
}
.instructions {
    text-align: left;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

.left {
  width: 35%;
}
.middle {
  width: 30%;
}
.right {
  width: 35%;
}
.translation {
    border-style: dashed;
    width: 500px;  
    margin: auto;
}
td {
    font-size: 26px;
}
